<!DOCTYPE html>
<html>
      <head>
           <title>  new Project</title>
           <link rel="stylesheet"  href="css/style.css" />
      </head>

      <body>
             <h2 class="hedt1"> {{title}} PAGE  </h2>

             <div class="header1">
                 <a href="/"> home</a>
                 <a href="/about"> about</a>
                 <a href="/contact">contact</a>
                 <a href="/services">services</a>
                 <a href="/help">help</a>
             </div>

      </body>
</html>